# Python
venv/
__pycache__/
*.py[cod]
.env

# Node
node_modules/

# macOS
.DS_Store

# VS Code
.vscode/

# Build
dist/
build/
backend/.env.save
backend/reports/*.pdf
backend/utils/*.backup
backend/.env.save
backend/reports/*.pdf
backend/utils/*.backup
